apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority-data: ${cluster_ca_certificate}
    server: https://${endpoint}
  name: gke_cluster
contexts:
- context:
    cluster: gke_cluster
    user: gke_user
  name: gke_context
current-context: gke_context
users:
- name: gke_user
  user:
    exec:
      apiVersion: client.authentication.k8s.io/v1beta1
      command: gcloud
      args:
      - container
      - clusters
      - get-credentials
      - ${cluster_name}      	 # The name of your GKE cluster
      - --zone=${cluster_zone}   # The zone of your cluster (e.g., us-west1-a)
      - --project=${project_id}  # Your Google Cloud project IDk

